:root { --d1-red: #e30613; --d1-blue: #005696; }

body { background-color: #888; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; }

#auth-container { 
    height: 100vh; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.auth-card { 
    background: white; 
    padding: 2.5rem; 
    border-radius: 30px; 
    width: 90%; 
    max-width: 500px; 
    text-align: center; 
}

.login-logo { width: 100px; margin-bottom: 20px; }
.d1-blue-text { color: var(--d1-blue); margin-bottom: 15px; }

.btn-d1 { background-color: var(--d1-red); color: white; font-weight: bold; border: none; }
.btn-d1:hover { background-color: #b3050f; color: white; }

.navbar-d1 { background-color: var(--d1-red); border-bottom: 4px solid var(--d1-blue); }
.welcome-banner { background: var(--d1-blue); color: white; padding: 25px; border-radius: 15px; }
